<h1 id="header">Viewing Party Light</h1>

<section id="create_user">
  <%= button_to "Create New User", "/register", method: :get %>
</section>
<br>
<%= link_to "Log In", login_path %>
<br>
<h2>Existing Users:<br></h2>
<% @users.each do |user| %>
  <section id="user-<%= user.id %>">
    <p><%= link_to "#{user.email}", "/users/#{user.id}" %></p>
  </section>
<% end %>
